* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  background-color: grey;
}

#app-container {
  width: 70%;
  margin: auto;
}

.editor-form {
  display: flex;
  flex-direction: column;
}

.form-row-left {
  margin-bottom: 10px;
}

.form-row-right {
  float: right;
  margin-bottom: 10px;
}

#todo-text {
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 7px;
  font-family: calibri;
  box-shadow: 2px 3px 10px;
  background: transparent;
  border: none;
}

::placeholder {
  font-family: segoe print;
}

.item {
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 15px;
  margin-top: 18px;
  box-shadow: 2px 3px 10px;
  background: transparent;
  border-radius: 2px;
}

.item > h3 {
  font-weight: 400;
  text-align: center;
}

.info-block {
  display: flex;
}

.status-panel {
  flex-grow: 4;
}

.created-date-panel {
  flex-grow: 1;
  text-align: right;
}

.done-date-panel {
  flex-grow: 1;
  text-align: right;
}

.control-block {
  text-align: right;
}

.view-button {
  width: 125px;
  color: aquamarine;
}

.postpone-button {
  width: 125px;
  color: orange;
}

.resume-button {
  width: 125px;
  color: green;
}

.delete-button {
  width: 125px;
  color: red;
}

.done-button {
  width: 125px;
  color: blue;
}

.todo-list {
  display: flex;
  flex-direction: column-reverse;
}

.edit-form-container h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: comic sans ms;
}

#add-todo-button:hover {
  background: transparent;
  border: none;
  transition: 500ms;
}
