* {
  box-sizing: border-box;
}

body {
  height: 700px;
  background-color: rgb(43, 41, 41);
}

#root {
  width: 100%;
  background-color: rgb(43, 41, 41);
}

#app-container {
  width: 70%;
  margin: auto;
}

.editor-form {
  display: flex;
  flex-direction: column;
}

.form-row-left {
  margin-bottom: 10px;
}

.form-row-right {
  float: right;
  margin-bottom: 10px;
  margin-top: 5px;
}

#todo-text {
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 7px;
  font-family: calibri;
  box-shadow: 2px 3px 10px;
  background: transparent;
  border: none;
}

::placeholder {
  font-family: segoe print;
}

.item {
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 15px;
  margin-top: 18px;
  box-shadow: 2px 3px 10px;
  background: transparent;
  border-radius: 2px;
}

.item > h3 {
  font-weight: 400;
  text-align: center;
}

.info-block {
  display: flex;
}

.status-panel {
  flex-grow: 4;
  color: white;
}

.created-date-panel {
  flex-grow: 1;
  text-align: right;
}

.done-date-panel {
  flex-grow: 1;
  text-align: right;
}

.control-block {
  text-align: right;
}

.view-button {
  width: 125px;
  color: #59e1b4;
}

.postpone-button {
  width: 125px;
  color: #dd9209;
}

.resume-button {
  width: 125px;
  color: rgb(1, 151, 1);
}

.delete-button {
  width: 125px;
  color: #ff3838;
}

.done-button {
  width: 125px;
  color: #bbbbf7;
}

.back-to-list-button {
  color: wheat;
}

#add-todo-button,
#clear-form-button {
  background-color: transparent;
  border-radius: 2px;
  color: rgba(255, 253, 253, 0.815);
  border: 1px solid rgba(123, 122, 122, 0.82);
  margin-left: 10px;
}

#add-todo-button:hover,
#clear-form-button:hover {
  box-shadow: inset 2px 3px 10px;
  transition: 400ms;
}
.todo-list {
  display: flex;
  flex-direction: column-reverse;
}

.edit-form-container h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: comic sans ms;
}

/* :hover {
  background: transparent;
  border: none;
  transition: 500ms;
} */

h2,
.created-date-panel,
.done-date-panel,
.status-panel,
.list-filter-container,
#todo-text,
.empty-list {
  color: rgba(255, 253, 253, 0.815);
  font-family: cursive;
}

h3 {
  color: #bbbbf7;
  text-transform: uppercase;
  font-family: cursive;
}

button,
#add-todo-button,
#clear-form-button {
  font-family: cursive;
}

button {
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid rgb(66, 65, 65);
}

button:hover {
  box-shadow: inset 2px 3px 10px;
  transition: 400ms;
}

.done-date-panel {
  color: #bbbbf7;
}

h1 {
  color: #bbbbf7;
  font-family: cursive;
  font-weight: bold;
}

h2 {
  font-style: italic;
}
